.selectCategory {
  text-align: left;
  margin: 2rem;
}

.categories {
  width: 75%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .categories {
    width: 100%;
    justify-content: center;
  }
}

.category {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  margin: 0 1rem 2.5rem 1rem;
  width: 15rem;
  transition: all .2s ease-in-out;
}
.category:hover {
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}
.inactive {
  transform: scale(0.9);
  filter: grayscale(1);
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fadeIn {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}
.fadeIn:nth-child(0n+1) {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.fadeIn:nth-child(0n+2) {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}
.fadeIn:nth-child(0n+3) {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.fadeIn:nth-child(0n+4) {
  -webkit-animation-delay: 2.0s;
  -moz-animation-delay: 2.0s;
  animation-delay: 2.0s;
}

.categoryName {
  cursor: pointer;
}

.categoryImage {
  width: 15rem;
  height: 15rem;
  margin-bottom: 1rem;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}
