.categoryDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: left;
    position: absolute;
    top: 66%;
    height: 33%;
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.returnToCategoriesButton {
  position: absolute;
  left: 2rem;
  top: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.categoryBackground {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.categoryBackground img {
  width: 100%;
}

.categoryTitle {
  position: absolute;
  top: 5rem;
  font-size: 8rem;
  left: 0;
  width: 100%;
}

.categoryDetailsImage {
  width: 100%;
  animation-duration: 1s;
  animation-name: slideinfromleft;
}
@keyframes slideinfromleft {
  from {
    right: 100%;
    opacity: 0;
  }
  to {
    right: 55%;
    opacity: 1;
  }
}
.categoryDetailsImage img {
  width: 100%;
}

.categoryElements {
  left: 55%;
  animation-duration: 1s;
  animation-name: slideinfromright;
  height: auto;
  width: 66%;
  margin: auto;
  font-size: 1.5rem;
}
@keyframes slideinfromright {
  from {
    left: 100%;
    opacity: 0;
  }
  to {
    left: 55%;
    opacity: 1;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .categoryDetails {
    flex-direction: column;
  }
  .categoryDetailsImage {
    position: static;
  }
  .categoryElements {
    position: static;
    width: 20rem;
  }
  .returnToCategoriesButton {
    left: 1rem;
    top: 1rem;
    font-size: 1.5rem;
  }
}

.categoryElement {
  background-color: #ffffff60;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  transition: 0.5s;
}

.categoryElement:hover {
  background-color: #ffffff90;
}

.categoryElements .categoryElement {
    cursor: pointer;
    list-style: none;
}

.categoryElements .categoryElement:last-child {
    border-bottom: 0px;
}

.categoryElements .categoryElementDuration {
    float: right;
    opacity: 0.75;
}

.categoryElements .categoryElementName {

}
