.categoryDetails {
    display: flex;
    width: 75%;
    align-items: center;
    text-align: left;
    position: relative;
}

.categoryDetailsImage {
    width: 20rem;
}

.categoryElements {
      left: 50%;
  position: absolute;
  animation-duration: 1s;
  animation-name: slidein;
  height: auto;
  width: 25rem;
  margin: auto;
  font-size: 16px;
}
@keyframes slidein {
  from {
    left: 100%;
    opacity: 0;
  }
  to {
    left: 50%;
    opacity: 1;
  }
}


.categoryElements .categoryElement {
    cursor: pointer;
    list-style: none;
}

.categoryElements .categoryElement {
    border-bottom: 1px solid gray;
    padding: 0.3em 0;
}

.categoryElements .categoryElement:last-child {
    border-bottom: 0px;
}

.categoryElements .categoryElementDuration {
    float: right;
}

.categoryElements .categoryElementName {

}
