.categoryDetails {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100vh;
    align-items: center;
    text-align: left;
    position: relative;
}

.returnToCategoriesButton {
  z-index: 2;
  left: 7rem;
  top: 5rem;
  cursor: pointer;
}

.categoryDetailsImage {
  width: 100%;
  animation-duration: 1s;
  animation-name: slideinfromleft;
}
@keyframes slideinfromleft {
  from {
    right: 100%;
    opacity: 0;
  }
  to {
    right: 55%;
    opacity: 1;
  }
}
.categoryDetailsImage img {
  width: 100%;
  border-radius: 4px;
}

.categoryElements {
  left: 55%;
  position: absolute;
  animation-duration: 1s;
  animation-name: slideinfromright;
  height: auto;
  width: 25rem;
  margin: auto;
  font-size: 1.5rem;
}
@keyframes slideinfromright {
  from {
    left: 100%;
    opacity: 0;
  }
  to {
    left: 55%;
    opacity: 1;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .categoryDetails {
    flex-direction: column;
  }
  .categoryDetailsImage {
    position: static;
  }
  .categoryElements {
    position: static;
    width: 20rem;
  }
  .returnToCategoriesButton {
    left: 1rem;
    top: 1rem;
    font-size: 1.5rem;
  }
}


.categoryElements .categoryElement {
    cursor: pointer;
    list-style: none;
}

.categoryElements .categoryElement {
    //border-bottom: 1px solid gray;
    padding: 0.75em 0;
}

.categoryElements .categoryElement:last-child {
    border-bottom: 0px;
}

.categoryElements .categoryElementDuration {
    float: right;
    opacity: 0.75;
}

.categoryElements .categoryElementName {

}
