.modalContainer {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
  justify-content: center;
  align-items: center;
}
.clickMe {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  background: transparent;
  border: none;
}

.modalBackground {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
  justify-content: center;
  align-items: center;
  background-color: #ffffffd9;
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modalBackground video {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  box-shadow: 0px 14px 36px 2px rgba(0, 0, 0, 0.2);
}

@media (min-width: 320px) and (max-width: 480px) {
  video {
    width: 100%;
  }
}

.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.out video {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

video::-webkit-media-controls-panel {
  background-image: linear-gradient(transparent, transparent) !important;
  color: red;
}

.videoPlayerHeader {
  height: 6rem;
  background-color: #282c34;
  display: flex;
  align-items: center;
}

.returnToCategoryButton {
  position: absolute;
  left: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 2;
}

.videoTitle {
  position: absolute;
  font-size: 3rem;
  width: 100%;
}
